<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>
</head>
<body>
    <h1>ConnectEye/ <%= title %> </h1>
    <h2>heeloo lodo welocome to my page ,if you wanna have a good time with jassu...(specifically her ass) </h2>
</body>
</html>