<link rel="stylesheet" href="../assets/css/layout.css">
<html>
    <head>
        <title>
            <%= title  %>
        </title>
        
        
    </head>

    <body>
        <%- include('_header') %>

        <%- body %>


        <%- include('_footer') %>

        
        
    </body>
</html>