<link rel="stylesheet" href="../assets/CSS/signup.css">
<div class="container">
    

<form action="/users/create" method="POST">
    <h1 style="color: white;">Sign up</h1>
    <h4 style="color: white; padding-left: 2px;">Username*</h4>
    <input class="signupname" type="text" name="name" placeholder="Your Name" required>
    <h4 style="color: white; padding-left: 2px;">Email*</h4>
    <input class="signupmail" type="email" name="email" placeholder="Your email" required>
    <h4 style="color: white; padding-left: 2px;">Password*</h4>
    <input class="signuppassword" type="password" name="password" placeholder="password" required>
    <h4 style="color: white; padding-left: 2px;">Confirm password*</h4>
    <input class="signupconfirm" type="password" name="confirm_password" placeholder="Confirm password" required>
    <input class="signupsubmit" type="submit" value="Sign Up"> 
</form>
</div>