<link rel="stylesheet" href="/CSS/signin.css">
<div class="whole">
    <div id="container">
        <h1 style="color: white; padding-left: 20px;">Sign in</h1>
    <!-- //creating a form for sign in -->
    <form action="/users/createSession" method="POST" >
        <h4 style="color: white; padding-left: 20px;">Email*</h4>
        <input class="signinemail" type="email" name="email" placeholder="Email" required>
        <h4 style="color: white; padding-left: 20px;">Password*</h4>
        <input class="signinpassword" type="password" name="password" placeholder="password" required>
        <input class="signinsubmit" type="submit" value="Sign in">
    </form>
    </div>
</div>