body{
    margin:0px;
    height: 100%;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/853/1009/106/simple-simple-background-minimalism-black-background-wallpaper-preview.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    
    color: white;
}
#heading-container{
    display: flex;
    /* height: 100%; */
    color: white;
    
} 
#feed-post{
    width: 70%;
    padding: 10px;
    text-align: center;
    background-image: url(https://e0.pxfuel.com/wallpapers/604/102/desktop-wallpaper-look-red-eyes-blood-dark-evil.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    /* box-shadow: 0em -1em 5em 0em white; */
}

.first-box{
    border: 2px solid white;
}


/*******************post css********************/
#head{
    font-family:  'Carter One', cursive;
    font-size: 50px;
    text-shadow: 2px 2px 4px white;
    text-decoration: underline;
}
#postcontent{
    font-size: 50px;
    list-style: none;
    font-family: 'Caveat', cursive;
    text-shadow: 2px 2px 4px white;
}

.postinput{
    padding-right: 100px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0em 0em 1em 0em white;
}
.postsubmit{
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0em 0em 1em 0em white;
    margin-top: 15px;
    padding: 8px;
}
.postsubmit:hover{
    background-color: lightgray;
    cursor: pointer;

}
.commsubmit,.comminput{
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0em 0em 1em 0em white;
}
.commsubmit:hover{
    cursor: pointer;
    background-color: lightgray;
}

/***************freinds list**********************/

    
#users-friends{
    width: 30%;
    padding: 10px;
    /* height: 100%; */
    color: white;
    text-align: center;   
    height: 100%;

   
}
#Friends{
    font-family:  'Carter One', cursive;
    font-size: 30px;
    text-shadow: 2px 2px 4px white;
}
.u-name{
   font-size: 25px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-inline: 10px;
    display: flex;
}
#ubox{
    text-align:initial;
}
#u-firstchar{
    border: 1px solid white;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    color: black;
    
}
.user-name{
    padding-inline: 10px;
}

/****************** side navbar***************/
#side-navbar{
    width: 30%;
    padding: 10px;
    
    /* height: 100%; */
    color: white;
    
}
.font-icon{
    /* border: 2px solid white; */
    height: 100%;
    /* width: 20%; */
    position: fixed;
    margin-top: 100px;
    padding: 30px;
}

#home-icon, #profile-icon , #logout-icon{
    
    padding: 20px;
    margin: 20px;
    font-size: 25px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-inline: 10px;
}
