 body{
   background-color: aliceblue;
}
.pic{
    display: flex;
    justify-content: center;
}
#profile-picture{
    width: 200;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
}
.editprofile{
    display: flex;
flex-direction: column;
width: 480px;

position: relative;
    bottom: 200px;
    left: 313px;

}
.editprofile div{
    padding: 10px;
}

.xyz{
    padding: 15px;
    width: 260px;
    font-size: 1.1rem;
    border-radius: 6px;
    height: 32px;
    background-color: transparent;
}
 
